<%= render  partial: "errorlog" %>
<%= form_for(@ad ,url: ad_path(@ad),html: {method: "patch",class: "form-group"}) do |f| %> <%#＃入稿フォーム %>
  <div class="form-group">
    <p>text</p>
    <%= f.text_area :text,value: @ad.text,class: "form-control" %>
    <p>price</p>
    <%= f.number_field :price,value: @ad.price %>
    <p>advertiser_id</p>
    <%= f.number_field :advertiser_id,value: @ad.advertiser_id %>
    <p>image</p>
    <%= f.file_field :image,value: @ad.image,class: "form-control-file" %>
    <%= f.submit class: "btn btn-primary",value: "更新" %>
  </div>
<% end %>
