<%= render  partial: "errorlog" %>
<%= form_for(@ad ,url: ad_path(@ad),html: {method: "patch",class: "form-group"}) do |f| %> <%#＃入稿フォーム %>
  <div class="form-group h3">
    <p>広告文</p>
    <%= f.text_area :text,value: @ad.text,class: "form-control" %>
    <p>単価</p>
    <%= f.number_field :price,value: @ad.price %>
    <p>広告主ID</p>
    <%= f.number_field :advertiser_id,value: @ad.advertiser_id %>
    <p>イメージ</p>
    <%= f.file_field :image,value: @ad.image,class: "form-control-file" %>
    <%= f.submit class: "btn btn-primary h2",value: "更新" %>
  </div>
<% end %>
