<div class="ads">
  <div class="links">
    <p class="h2">
      <%= link_to("新規作成", new_ad_path) %>
      <!-- Reportへのリンクは他Branch(feature_adreport)で挿入します -->
    </p>
  </div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="h2">広告ID</th>
      <th scope="col" class="h2">広告主ID</th>
      <th scope="col" class="h2">テキスト</th>
      <th scope="col" class="h2">単価</th>
      <th scope="col" class="h2">イメージ画像</th>
      <th scope="col" class="h2">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <% @ads.each do |ad| %>
      <td class="h3 align-middle"><%= ad.id %></td>
      <td class="h3 align-middle"><%= ad.advertiser_id %></td>
      <td class="h3 align-middle"><%= ad.text %></td>
      <td class="h3 align-middle"><%= ad.price %></td>
      <td class="h3 align-middle"><%= image_tag ad.image.to_s %></td>
      <td ><p class="edit_button h4">
        <%= link_to("変更", edit_ad_path(ad)) %>
      </p>
      <p class="delete_button h4">
        <%= link_to("削除", ad_path(ad) ,method: :delete) %>
      </p>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
