<div class="ads">
	<div class="each_ad">
		<% @ads.each do |ad| %>
		<li>
			<%= ad.id %>
		</li>
		<li>
			<%= ad.text %>
		</li>
		<li>
			<img src="<%= ad.image %>" alt="">
		</li>
		<div class="edit_button">
			<%= link_to("Edit", "/ad/#{ad.id}/edit") %>
		</div>
		<div class="delete_button">
			<%= link_to("Delete", "/ad/#{ad.id}" ,method: :delete) %>
		</div>
		<% end %>
		<div>
			<%= link_to("New", "/ad/new") %>
		</div>
		
	</div>
</div>