<div class="ads">
  <div class="each_ad"> <%# 広告を一つ一つ表示 %>
    <% @ads.each do |ad| %>
      <li>
        <span>広告ID:<%= ad.id %></span>
      </li>
      <li>
        <span>広告文 :<%= ad.text %></span>
      </li>
      <li>
        <span>単価 :<%= ad.price %></span>
      </li>
      <li>
        <%= image_tag ad.image.to_s %>
      </li>
      <div class="edit_button">
        <%= link_to("Edit", edit_ad_path(ad)) %>
      </div>
      <div class="delete_button">
        <%= link_to("Delete", ad_path(ad) ,method: :delete) %>
      </div>
    <% end %>
    <div>
      <%= link_to("New", new_ad_path) %>
    </div>
  </div>
</div>
