<%= form_with url: report_path  do |form| %>
  <%= form.date_field :date_min %>
  <%= form.date_field :date_max %>
  <%= form.submit class: "btn btn-primary",value: "期間指定" %>
<% end %>

<% @reports.each do |report| %>
<div>
	<p>広告ID: <%= report.ad_id %></p>
	<p>Impression数: <%= report.imp %></p>
	<p>Click数: <%= report.click %></p>
	<p>総費用: <%= report.price %></p>
</p>
</div>
<% end %>
